In [1]:
import pandas as pd

In [3]:
df_train = pd.read_csv("../input/ndsc-beginner/train.csv")
df_train.head()

,itemid,title,Category,image_path
0,307504,nyx sex bomb pallete natural palette,0,beauty_image/6b2e9cbb279ac95703348368aa65da09.jpg
1,461203,etude house precious mineral any cushion pearl...,1,beauty_image/20450222d857c9571ba8fa23bdedc8c9.jpg
2,3592295,milani rose powder blush,2,beauty_image/6a5962bed605a3dd6604ca3a4278a4f9.jpg
3,4460167,etude house baby sweet sugar powder,3,beauty_image/56987ae186e8a8e71fcc5a261ca485da.jpg
4,5853995,bedak revlon color stay aqua mineral make up,3,beauty_image/9c6968066ebab57588c2f757a240d8b9.jpg

In [4]:
df_test = pd.read_csv("../input/ndsc-beginner/test.csv")
df_test.head()

,itemid,title,image_path
0,370855998,flormar 7 white cream bb spf 30 40ml,beauty_image/1588591395c5a254bab84042005f2a9f.jpg
1,637234604,maybelline clear smooth all in one bb cream sp...,beauty_image/920985ed9587ea20f58686ea74e20f93.jpg
2,690282890,murah innisfree eco natural green tea bb cream...,beauty_image/90b40e5710f54352b243fcfb0f5d1d7f.jpg
3,930913462,loreal white perfect day cream spf 17 pa white...,beauty_image/289c668ef3d70e1d929d602d52d5d78a.jpg
4,1039280071,hada labo cc cream ultimate anti aging spf 35 ...,beauty_image/d5b3e652c5822d2306f4560488ec30c6.jpg

In [5]:
df_result = pd.read_csv("../input/ndsc-beginner/data_info_val_sample_submission.csv")
df_result.head()

       itemid  Category
0   370855998        32
1   637234604        20
2   690282890        18
3   930913462        18
4  1039280071        11

In [6]:
import json
from pprint import pprint

with open('../input/ndsc-beginner/categories.json') as f:
    categories_json = json.load(f)
# pprint(categories_json)

# category = {}
category_titles = {}
for category_class in categories_json:
    for category_name in categories_json[category_class]:
#         category[categories_json[category_class][category_name]] = (category_name, category_class)
        category_titles[categories_json[category_class][category_name]] = category_name
print(category_titles)
# todo: split beauty to face and lip cosmestics

{0: 'Face Palette', 1: 'Foundation', 2: 'Blush On', 3: 'Powder', 4: 'Other Face Cosmetics', 5: 'BB & CC Cream', 6: 'Contour', 7: 'Concealer', 8: 'Highlighter', 9: 'Primer', 10: 'Setting Spray', 11: 'Bronzer', 12: 'Lipstick', 13: 'Lip Tint', 14: 'Lip Gloss', 15: 'Lip Liner', 16: 'Other Lip Cosmetics', 17: 'Others', 18: 'Casual Dress', 19: 'Party Dress', 20: 'Maxi Dress', 21: 'A Line Dress', 22: 'Bodycon Dress', 23: 'Wedding Dress', 24: 'Big Size Dress', 25: 'Tshirt', 26: 'Blouse\xa0', 27: 'Shirt', 28: 'Tanktop', 29: 'Crop Top ', 30: 'Big Size Top', 31: 'Iphone', 32: 'Samsung', 33: 'Sony', 34: 'Xiaomi', 35: 'Others Mobile & Tablet', 36: 'Blackberry', 37: 'Lenovo', 38: 'Nokia', 39: 'Brandcode', 40: 'Infinix', 41: 'Oppo', 42: 'Vivo', 43: 'Asus', 44: 'Evercoss', 45: 'Advan', 46: 'Mito', 47: 'Huawei', 48: 'Sharp', 49: 'Motorola', 50: 'Strawberry', 51: 'Realme', 52: 'Icherry', 53: 'Smartfren', 54: 'Honor', 55: 'Alcatel', 56: 'Maxtron', 57: 'SPC'}

In [ ]:
from fuzzywuzzy import process
from tqdm import tqdm  # progress bar

# fuzzy string matching
# https://github.com/seatgeek/fuzzywuzzy
# on how to return index instead of the value
# https://github.com/seatgeek/fuzzywuzzy/issues/165
prediction = []

for title in tqdm(df_test['title'][:]):
    predicted = process.extractOne(title, category_titles)
    prediction.append(predicted[2])  # append category index

  0%|          | 750/172402 [00:04<16:03, 178.13it/s]

In [ ]:
df_test['Category'] = prediction
df_submit = df_test[['itemid', 'Category']].copy()
df_submit.to_csv('submission.csv', index=False)